body {
  background-color: black;
  color: white;
  padding: 2vw;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

#navbar-full {
  display: flex;
  align-items: flex-end;
  color: white;
}

#navbar-part {
  font-weight: lighter;
  font-size: 16pt;
  animation: slideIn 1s ease-in-out;
}

#website {
  overflow: hidden;
}

#website #before {
  background-color: white;
  color: black;
  font-size: 20pt;
  text-align: center;
  padding: 3pt 9pt;
  border: none;
  border-radius: 5px;
}

#website #after {
  display: none;
}

#website:hover #before {
  display: none;
}

#website:hover #after {
  display: block;
  text-decoration: none;
  color: white;
  animation: websiteSlideIn 0.5s ease-in-out;
}

.result {
  height: 150px;
  border: 1px solid white;
  border-radius: 10px;
  /* margin: 1vw; */
}

img {
  margin-top: 12.5px;
  height: 125px;
  object-fit: contain;
}

@keyframes slideIn {
  0% {
    transform: skewX(45deg) translateX(-500px);
  }
  70% {
    transform: skewX(-30deg) translateX(5px);
  }
  100% {
    transform: skewX(0deg);
  }
}

@keyframes websiteSlideIn {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0);
  }
}

#film {
  position: fixed;
  bottom: -50px;
  right: -50px;
  transform: rotate(-15deg);
  height: 25%;
}

#search-bar {
  margin: 2vw 0 4vw;
}

.fancy {
  text-align: center;
  font-family: "Monoton", cursive;
  margin-bottom: 2vw;
  font-size: 20pt;
}

#watchlist {
  padding: 2vw;
}

.title {
  font-family: "PT Serif", serif;
  font-weight: bold;
}

.year {
  font-family: "PT Serif", serif;
}
